<!--

<div class="m">
    <ul class="example-animate-container">
        <li ng-repeat="item in items" class="animate-repeat">
          <img ng-src="{{ item.img_link }}" /> 
				{{item.title}} </br>
         <div ng-bind-html="item.description"></div>
        </li>
    </ul>
</div>

--------------------------------

<div class="m">
    <ul class="example-animate-container">
        <li ng-repeat="item in items" class="animate-repeat">
          <img ng-src="{{ item.img_link }}" /> 
				{{item.title}} </br>
         <div ng-bind-html="item.description"></div>
        </li>
    </ul>
</div>

+++++++++++++++++++++++++++++++++++++++++++


<div class="m">
    <ul class="example-animate-container">
        <li ng-repeat="item in items" class="animate-repeat">
          <img ng-src="{{ item.img_link }}" /> 
				{{item.title}} </br>
         <div ng-bind-html="item.description"></div>
        </li>
    </ul>
</div>


=============================================

<div class="m">
    <ul class="example-animate-container">
        <li ng-repeat="item in items" class="animate-repeat">
          <img ng-src="{{ item.img_link }}" /> 
				{{item.title}} </br>
         <div ng-bind-html="item.description"></div>
        </li>
    </ul>
</div>

</br>
+++++++++++++++++++++
--><div class="modal"><ion-header-bar><h1 class="title">My Modal title</h1><button class="button button-clear button-positive" ng-click="closeModal()">Close</button></ion-header-bar><ion-content>Hello!</ion-content></div>